%p#notice= notice

%p
  %b Title:
  = @question.title
%p
  %b Description:
  = @question.description
%p
  %b Type:
  = @question.type
%p
  %b Options:
  = @question.options
%p
  %b Answer:
  = @question.answer
%p
  %b Author:
  = @question.author_id

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
