%h1 Listing tickets

%table
  %tr
    %th Printed at
    %th Expired at
    %th Type
    %th
    %th
    %th

  - @tickets.each do |ticket|
    %tr
      %td= ticket.printed_at
      %td= ticket.expired_at
      %td= ticket.type
      %td= link_to 'Show', ticket
      %td= link_to 'Edit', edit_ticket_path(ticket)
      %td= link_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Ticket', new_ticket_path
